*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #ffff;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    align-items: center;
}
.container{
    width: 1200px;
    margin:0 auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;  
}

nav li a{
    color:#575757;
    
}

nav ul li a{
    text-decoration: none;
}

.nab-btn{
    background-color:#1D4ED8;
    padding: 10px 25px;
    border-radius: 5px;
    color: #ffff;
    font-size: 1.25rem;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

.nab-btn:hover{
background-color: #3662db;
}
/* Navbar End */


/* Hero section start */

.hero-parent-root{
    background: linear-gradient( rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2)), url("./images/banner.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    
}

.hero-parent-root-text{
    color: #ffff;
    text-align: center;
    margin-top: 13.125rem;
    
    
}
.hero-parent-root-text h1{
    font-size: 3rem;
}

.hero-parent-root-text p{
    max-width: 560px;
    /* margin: 20px auto; */
}

.hero-parent-root-btn button{
    margin-bottom: 100px;
}

/* Hero section End */




/* Speakers section start */

.speakers-main{
    margin-top: 3.75rem;
    height: 80%; 
}

.speakers-main h1{
    text-align: center;
    font-weight: bold;
    margin-bottom:1.563rem;
}
.speakers-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
    gap: 20px;
    object-fit: cover;
    
}
.speakers-images,.box{
    width: 90%;
    margin: 0 auto;
}
.box {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    
}
.box-text h3{
    font-size: 20px;
    font-family: "Inter",sans-serif;
    padding: 5px 0;
    font-weight: bold;
    
}
.box img{
    height: 70%;
    width: 100%;
}

span{
    color:#2563EB;
    font-size: 14px;
    
}

.speakers-images-text{
    font-size: 14px;
    color: #575757;
}

.box-text{
    padding: 5px 20px;
}


/* Speakers section End */




/* Spot section start */

.spot-parent{
    margin-top: 150px;
}

.spot-parent-text{
    text-align: center;
}

.spot-parent-text h2{
    font-weight: bold;
    font-family: "Inter",sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

.spot-parent-text p{
    font-size: 16px;
    color: #575757;
    margin-bottom: 40px;
}

.spot-parent-card{
    display: flex;
    justify-content: space-between;
    text-align:left;
    gap: 20px;
    
}

.spot-parent-card, .card{
    width: 80%;
    margin: 0 auto;
}
.card-main{
    
    border: 1px solid #E5E7EB;
    padding: 50px;
    border-radius: 8px;
}

.card-main h3{
    padding: 10px 0;
    font-weight: bold;
    font-size: 2rem;
}
 .card-para-head{
    font-size: 10px;
    font-weight: 500;
    color: #888888;
}

.card-para{
  font-size: 10px;
  color: #888888;
}
.card-blue-para{
    color: #969393;
    font-size: 10px;
}
.card-main ul{
    list-style-position: inside;
    padding-right: 50px;
}
.card-main li{
    margin-bottom: 20px;
    font-size: 10px;
    font-family: "Inter"sans-serif;
}
 .card-main hr{
    border: none;
    height: 2px;
    margin: 20px 0;
    background-color: #E5E7EB;
}

.changes{
    background-color:#081e35 ;
    color: #ffff;
}

.card-blue{
    color: #93C5FD;
    font-weight: 500;
}

.changes hr{
     border: none;
    height: 1px;
    margin: 20px 0;
    background-color: #555252;
}

.card-main li::marker{
 color: #2563EB;
}

.card-btn-one button{
   padding: 10px 70px;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 12px;
    border-color:#2563EB;
    color: #2563EB;
    font-weight: 500;
    cursor: pointer;
}
.card-btn-one button:hover{
    background-color: #eeeff0;
}
.card-btn-two button{
     padding: 10px 70px;
    border-radius: 5px;
    background-color: #2563EB;
    color: #ffff;
    font-size: 12px;
    border-style: none;
    font-weight: 500;
    cursor: pointer;
}
.card-btn-two button:hover{
    background-color: #4890e2;
}

.card-btn-three button{
    padding: 10px 70px;
    border-radius: 5px;
    background-color: #ffff;
    font-size: 12px;
    border-color:#0D1B2A;
    font-weight: 500;
    cursor: pointer;
}
.card-btn-three button:hover{
    background-color: #eeeff0;
}